<h1><strong>Money Container<strong></h1>

<%= form_for :session, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
  <hr>
<p>Primeira vez? <%= link_to "Cadastre-se agora!", new_usuario_path %></p>
<% end %>