<% if logged_in? %>

	<section class='main-content'>

		<div class='white-box'>
			<h1>Seja bem vindo ao seu dashboard, <%= @current_usuario.nome%>!</h1>
		</div>

		<div class='green-box'>
			<h2>Cadastre sua renda mensal</h2>
			<button class='green-box-btn'><strong><%= link_to "Cadastrar Renda", rendas_path%></strong></button>	
		</div>
		
		<div class='white-box'>
			<table id='tabela' class='itens-tabela'>
				<tr>
					<th>Profissão</th>
					<th>Empresa</th>
					<th>Salário</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>

				<% Array(@rendas).each do |renda| %>
				<tr class='conteudo-tabela-renda'>
					<td id='Profissao'><%= renda.profissao %></td>
					<td><%= renda.empresa %></td>
					<td>R$ <%= renda.salario %></td>
					<td><%= link_to "Editar", edit_renda_path(renda) %></td>
					<td><%= button_to "Delete", {:controller => :rendas,
		:action => 'destroy', :id => renda.id }, :method => :delete %></td>
				</tr>
				<% end %>
			</table>
		</div>


		
		<div class='green-box'>
			<h2> Cadastre uma dívida qualquer </h2>
			<button class='green-box-btn'><strong><%= link_to "Cadastrar Dívida", dividas_path%></strong></button>
		</div>

		<div class='white-box'> 
			<table id='tabela' class='itens-tabela'>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Periodo</th>
					<th>Valor</th>
					<th>Deletar</th>
				</tr>
			
				<% Array(@dividas).each do |divida| %>
				<tr class='conteudo-tabela-divida'>
					<td><%= divida.nome %></td>
					<td><%= divida.descricao %></td>
					<td><%= divida.periodo %></td>
					<td>R$ <%= divida.valor %>,00</td>
					<td><%= button_to "Delete", {:controller => :dividas,
	:action => 'destroy', :id => divida.id }, :method => :delete %></td>
				</tr>
				<% end %>
			</table>
		</div>




		<div class='green-box'>
			<h2> Cadastre um objetivo a ser atingido </h2>
			<button class='green-box-btn'><strong><%= link_to "Cadastrar Objetivo", objetivos_path%></strong></button>
		</div>

		<div class='white-box'>
			<table id='tabela' class='itens-tabela'> 
				<tr> 
					<th>Titulo</th>
					<th>Descrição</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			

				<% Array(@objetivos).each do |objetivo| %>
				<tr class='conteudo-tabela-objetivo'>
					<td><%= objetivo.titulo %></td>
					<td><%= objetivo.descricao %></td>
					<td><%= link_to "Editar", edit_objetivo_path(objetivo) %></td>
					<td><%= button_to "Delete", {:controller => :objetivos,
	:action => 'destroy', :id => objetivo.id }, :method => :delete %></td>
				</tr>
				<% end %>

			</table>
		</div>

	</section>
<% else %>
    <li><%= link_to "Log in", root_path %></li>
<% end %>
