<section class='main-content'>
  
  <div class='form-titulo'> Usuarios </div>
  <div class='white-box'>
    <table id='tabela' class='itens-tabela'>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>ID</th>
          <th>Personalizar</th>
          <!-- <th></th> -->
        </tr>
        
        <% @usuarios.each do |user| %>
          <tr class='conteudo-tabela-usuario'>
            <td><%= user.nome %></td>
            <td><%= user.email %></td>
            <td><%= user.id %></td>
            <td><%= link_to "Adicionar", usuario_info_path%></td>
            <!-- Tirei o show por enquanto pq não ta servindo pra muita coisa <td><%= link_to "Show", user %></td> %> -->
          </tr>
        <%end%>
    </table>
  </div>
</section>