<section class='main-content'>
  
  <div class='form-titulo'>Cadastrar objetivo</div>

  <div class='white-box'>
    <% if @objetivo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@objetivo.errors.count, "erro") %> impedem que o objetivo seja gravado no banco de dados:</h2>
    
        <ul>
        <% @objetivo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(@objetivo) do |form| %>
      <p class='form-label'><%= form.label :titulo %></p>
      <p class='form-input'><%= form.text_field :titulo %></p>
    
      <p class='form-label'><%= form.label :descricao %></p>
      <p class='form-input'><%= form.text_field :descricao %></p>

      <p class='form-btn'><%= form.submit 'Adicionar Objetivo' %></p>
    <% end %>
  </div>

</section>